
.login-form{
    position: absolute;
    max-width: 30rem;
    min-height: 20rem;
    margin: 5rem auto;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.3);
    background-color: #fff;
}

.form{
    margin: 2rem auto;
}

.form .input{
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

.form .input:focus{
    outline: none !important;
    box-shadow: none!important;
}

p{
    font-weight: 600;
}

h4{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    opacity: 0.8;
}

span{
    color: #4285F4;
    margin-right: 5px;
}

.sub-btn:active{
    outline: none !important;
    box-shadow: none !important;
}