.comments-main{
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
}

.comments-main .card{
    position: relative;
    margin-bottom: 1rem;
    width: 90%;
    min-height: 2rem;
}

.comments-main .card img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.comments-main .card .card-sub{
    display: flex;
    justify-content: space-between;
}

.comments-main p{
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight:  normal;
    font-family: 'Roboto', sans-serif;
}

